In [1]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [2]:
heart_data = pd.read_csv("data/heart.csv", sep=",")
o2_data = pd.read_csv("data/o2saturation.csv")

In [3]:
heart_data.head(10)

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
5,57,1,0,140,192,0,1,148,0,0.4,1,0,1,1
6,56,0,1,140,294,0,0,153,0,1.3,1,0,2,1
7,44,1,1,120,263,0,1,173,0,0.0,2,0,3,1
8,52,1,2,172,199,1,1,162,0,0.5,2,0,3,1
9,57,1,2,150,168,0,1,174,0,1.6,2,0,2,1

In [4]:
o2_data.head(10)

   98.6
0  98.6
1  98.6
2  98.6
3  98.1
4  97.5
5  97.5
6  97.5
7  97.5
8  97.5
9  97.5

In [5]:
# Classification: heart attack prediction
X_classification = heart_data.drop(heart_data.columns[13], axis=1)
y_classification = heart_data[heart_data.columns[13]]

# Split the data (train and test)
X_train_class, X_test_class, y_train_class, y_test_class = train_test_split(
    X_classification, y_classification, test_size=0.2, random_state=50
)

In [6]:
# Standardize features
scaler = StandardScaler()
X_train_class_scaled = scaler.fit_transform(X_train_class)
X_test_class_scaled = scaler.transform(X_test_class)

In [7]:
# Logistic regression
log_reg_model = LogisticRegression()
log_reg_model.fit(X_train_class_scaled, y_train_class)
y_pred_labels = log_reg_model.predict(X_test_class_scaled)

In [8]:
# Print classification results
print("Logistic Regression - Classification Results: ")
print(classification_report(y_test_class, y_pred_labels))

Logistic Regression - Classification Results:
              precision    recall  f1-score   support

           0       0.80      0.64      0.71        25
           1       0.78      0.89      0.83        36

    accuracy                           0.79        61
   macro avg       0.79      0.76      0.77        61
weighted avg       0.79      0.79      0.78        61

In [9]:
# Regression: O2 saturation prediction
X_regression = o2_data.drop(o2_data.columns[0], axis=1)
y_regression = o2_data[o2_data.columns[0]]

In [10]:
# Split the data (train and test)
X_train_reg, X_test_reg, y_train_reg, y_test_reg = train_test_split(
    X_regression, y_regression, test_size=0.2, random_state=50
)